
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* overflow: hidden;  */
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    scroll-snap-align: start;
    flex-direction: column;
    overflow-y: auto;
}

h1 {
    color: #2e6c8e;
    margin-bottom: 20px;
}


.search-result {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin: 10px 0; 
    border: 1px solid #e0efff;
    flex-direction: row;

}
.button-search{
    flex-direction: column;
}


.intro, .details , .infor {
    max-width: 600px;
    width: 100%;
    background-color: #e9f2f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #2e6c8e;
    margin-bottom: 20px;
}

p, label {
    color: #333;
    line-height: 1.6;
}

select, input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c6d8e6;
    border-radius: 5px;
}

.next-button, .back-button {
    background-color: #70afd0;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.next-button:hover , .counter-btn{
    background-color: #558ca6;


}

.counter-btn{
    padding: 20px;
    background-color: #70afd0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 90%;

}


.search-result:focus {
    border: solid 2px black;
}

.seat-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

.seat-btn {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #08fa30;
    border: 1px solid #c6d8e6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.seat-btn:hover {
    background-color: #70afd0;
}


h4 {
    color: #333;
    margin-top: 20px;
}

/* #page2 .intro {
    width: 100%;
    max-width: 500px;
    background-color: #f5faff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
} */

#page2 h1 {
    color: #2e6c8e;
    margin-bottom: 25px;
    font-size: 24px;
}

#page2 input[type="text"], #page2 input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #c6d8e6;
    border-radius: 5px;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
   
}

#page2 input[type="text"]:focus, #page2 input[type="email"]:focus {
    border-color: #2e6c8e;
    outline: none;
}